
.chart-bar{
  width:730px;
  background-color: #EDEDED;
  padding: 20px 30px;
  border-radius: 14px;
  margin:130px  auto;
  /* height: 800px; */
    /* position: absolute;
    top:100px;
    left:200px; */
}
